<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Wonderful Interactive Helix">

  <title>Wonderful Interactive Helix</title>

  <link rel="stylesheet" href="styles.css">
</head>

<body style="display: flex; justify-content: center; align-items: center;">
<canvas id="view" style="width: 100vw; height: 100vh;"></canvas>
</body>

</html>
