<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">

  <title>Spiral Editor</title>

  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://accounts.google.com/gsi/client"></script>

</head>

<body style="width: 100%; display: flex; justify-content: space-between; align-items: flex-start;">

<div id="canvas-wrapper">
  <canvas id="view" style="width: 100vh; height: 100vh;"></canvas>
</div>

<div id="app"></div>

<script>
  /*function touchHandler(ev) {
    ev.preventDefault() // Prevent text selection
  }

  const app = document.getElementById('app');

  app.addEventListener('touchstart', touchHandler, {passive: false})
  app.addEventListener('touchmove', touchHandler, {passive: false})
  app.addEventListener('touchend', touchHandler, {passive: false})
  app.addEventListener('touchcancel', touchHandler, {passive: false})*/
</script>

</body>

</html>
