<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Spiral Editor</title>

  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://accounts.google.com/gsi/client"></script>

</head>

<body style="width: 100%; display: flex; justify-content: space-between; align-items: flex-start;">

<canvas id="view" style="width: 100vh; height: 100vh;"></canvas>

<div id="app"></div>

</body>

</html>
